PORT=8088
HOST_IP=192.168.178.77
BASE_URL=http://192.168.178.77:8088
PARTY_NAME=Wohnzimmer Rave
PARTY_CODE=party
ADMIN_PIN=2468
ADMIN_COOKIE_SECRET=change-me-for-your-home-network
WIFI_SSID=MyPartyWifi
WIFI_PASSWORD=SuperSecretWifi123
WIFI_SECURITY=WPA
WIFI_HIDDEN=false
AUTOPLAY_ENABLED=false
MAX_QUEUE_ITEMS=100
MAX_GUEST_NAME_LENGTH=32
MAX_URL_LENGTH=500
MAX_ADDS_PER_WINDOW=6
MAX_VOTES_PER_WINDOW=60
RATE_LIMIT_WINDOW_SECONDS=300
HISTORY_LIMIT=30
TITLE_LOOKUP_TIMEOUT_SECONDS=3
ENABLE_TITLE_LOOKUP=true
